<div class="main centered">
    <div class="form-header">
        <h2>Backoffice — Alterar Senha</h2>
    </div>
    <form [formGroup]="passwordResetForm">
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Senha de Recuperação</mat-label>
                <input matInput name="password" [type]="hideRecovery() ? 'password' : 'text'"
                    formControlName="recoveryPassword" />
                <mat-icon matPrefix fontIcon="lock"></mat-icon>
                <button type="button" mat-icon-button matSuffix (click)="toggleVisibility($event, 'recovery')"
                    [attr.aria-label]="hideRecovery() ? 'Mostrar senha' : 'Ocultar senha'">
                    <mat-icon>{{hideRecovery() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nova Senha</mat-label>
                <input matInput name="password" [type]="hideNewPassword() ? 'password' : 'text'"
                    formControlName="newPassword" />
                <mat-icon matPrefix fontIcon="lock"></mat-icon>
                <button type="button" mat-icon-button matSuffix (click)="toggleVisibility($event, 'new-password')"
                    [attr.aria-label]="hideNewPassword() ? 'Mostrar senha' : 'Ocultar senha'">
                    <mat-icon>{{hideNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirmar Nova Senha</mat-label>
                <input matInput name="password" [type]="hideConfirmNewPassword() ? 'password' : 'text'"
                    formControlName="confirmNewPassword" />
                <mat-icon matPrefix fontIcon="lock"></mat-icon>
                <button type="button" mat-icon-button matSuffix
                    (click)="toggleVisibility($event, 'confirm-new-password')"
                    [attr.aria-label]="hideConfirmNewPassword() ? 'Mostrar senha' : 'Ocultar senha'">
                    <mat-icon>{{hideConfirmNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>


        <div class="btn-group">
            <button class="btn btn-secondary" type="button" [routerLink]="'/login'">
                <mat-icon fontIcon="login"></mat-icon>
                <span>Acessar</span>
            </button>
            <button class="btn" type="button" (click)="recovery()" [disabled]="passwordResetForm.invalid">
                <mat-icon fontIcon="password"></mat-icon>
                <span>Recuperar</span>
            </button>
        </div>
        <div class="form-links">
            <span>&nbsp;</span>
            <a href="#">Precisa de ajuda?</a>
        </div>
    </form>
</div>